@import "tailwindcss";
@import "tw-animate-css";
@layer utilities {
  .scrollbar-hide {
    /* Firefox */
    scrollbar-width: none;
    
    /* Safari and Chrome */
    -webkit-overflow-scrolling: touch;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}